REACT_APP_USER_SERVICE=http://localhost/api/users
REACT_APP_SEARCH_SERVICE=http://localhost/api/search
REACT_APP_BOOKING_SERVICE=http://localhost/api/bookings
REACT_APP_PAYMENT_SERVICE=http://localhost/api/payments
REACT_APP_NOTIFICATION_SERVICE=http://localhost/api/notifications
